In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('insurance.csv')
dataset[0:5]

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
x=np.array(dataset.iloc[:,:-1].values)
y=np.array(dataset.iloc[:,-1].values)

In [5]:
y=y.reshape(len(y),1)

In [6]:
from sklearn.preprocessing import LabelEncoder
sex=LabelEncoder()
smoker=LabelEncoder()
x[:,1]=sex.fit_transform(x[:,1])
x[:,4]=smoker.fit_transform(x[:,4])

In [7]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
region=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[5])], remainder='passthrough')
x=region.fit_transform(x)

In [8]:
x.shape

(1338, 9)

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
np.array(x_train[:,1:6])

array([[0.0, 0.0, 1.0, 37, 1],
       [0.0, 1.0, 0.0, 18, 1],
       [0.0, 0.0, 0.0, 23, 0],
       ...,
       [0.0, 1.0, 0.0, 40, 1],
       [1.0, 0.0, 0.0, 19, 1],
       [0.0, 0.0, 1.0, 33, 0]], dtype=object)

In [12]:
## Linear Regression Test
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [13]:
y_pred=lr.predict(x_test)

In [14]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,y_pred)
p=6
n=len(y_pred)
adjustedr2= 1-((1-r2)*(n-1)/(n-p-1))
print(adjustedr2)

##adjusted r squared of test set

0.795389713092596

In [15]:
t_pred=lr.predict(x_train)
from sklearn.metrics import r2_score
r2=r2_score(y_train,t_pred)
p=6
n=len(y_pred)
adjustedr2= 1-((1-r2)*(n-1)/(n-p-1))
print(adjustedr2)

#adjusted r squared with training data

##underfitting

0.7309808840633281

In [16]:
print(r2)

0.7370262574551634