In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('insurance.csv')
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [3]:
x=np.array(dataset.iloc[:,:-1].values)
y=np.array(dataset.iloc[:,-1].values)

In [4]:
y=y.reshape(len(y),1)

In [5]:
from sklearn.preprocessing import LabelEncoder
sex=LabelEncoder()
smoker=LabelEncoder()
x[:,1]=sex.fit_transform(x[:,1])
x[:,4]=smoker.fit_transform(x[:,4])

In [6]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
region=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[5])], remainder='passthrough')
x=region.fit_transform(x)

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [56]:
##Polynomial Regression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
poly=PolynomialFeatures(degree=4)
x_poly=poly.fit_transform(x_train)
lr=LinearRegression()
lr.fit(x_poly,y_train)

LinearRegression()

In [57]:
y_pred=lr.predict(poly.fit_transform(x_test))
t_pred=lr.predict(poly.fit_transform(x_train))

In [58]:
from sklearn.metrics import r2_score
r2=r2_score(y_test,y_pred)
p=6
n=len(y_pred)
adjustedr2= 1-((1-r2)*(n-1)/(n-p-1))
print(adjustedr2)

0.8440502412048598

In [59]:
from sklearn.metrics import r2_score
r2=r2_score(y_train,t_pred)
p=6
n=len(t_pred)
adjustedr2= 1-((1-r2)*(n-1)/(n-p-1))
print(adjustedr2)

0.8622217323200869