In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('insurance.csv')
dataset[0:5]

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
x=np.array(dataset.iloc[:,:-1].values)
y=np.array(dataset.iloc[:,-1].values)

In [4]:
y=y.reshape(len(y),1)

In [5]:
from sklearn.preprocessing import LabelEncoder
sex=LabelEncoder()
smoker=LabelEncoder()
x[:,1]=sex.fit_transform(x[:,1])
x[:,4]=smoker.fit_transform(x[:,4])

In [6]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
region=ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[5])], remainder='passthrough')
x=region.fit_transform(x)

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [8]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(n_estimators=100,random_state=0)
regressor.fit(x_train,y_train)

C:\Users\ashwi\AppData\Local\Temp/ipykernel_36856/900022077.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(x_train,y_train)

RandomForestRegressor(random_state=0)

In [9]:
y_pred=regressor.predict(x_test)

In [10]:
t_pred=regressor.predict(x_train)

In [11]:
## adjusted r2 with model and test data
from sklearn.metrics import r2_score
r2=r2_score(y_test,y_pred)
p=6
n=len(y_pred)
adjusted_r2=1-((1-r2)* ((n-1)/(n-p-1)))
adjusted_r2

0.873861764933423

In [12]:
## adjusted r2 with model and train data
r3=r2_score(y_train,t_pred)
p=6
n=len(t_pred)
adjusted_r3=1-((1-r2)* ((n-1)/(n-p-1)))
adjusted_r3

0.8760003564651996